@use 'sass:color';
@use 'sass:math';
@use 'variables' as v;


.dark-mode {
    .header {
        background-color: color.adjust(v.$grisOscuro, $lightness: -10%);
    }

    background-color: color.adjust(v.$grisOscuro, $lightness: -10%);

    p {
        color: v.$blanco;
    }

    a,
    h1,
    h2,
    h3,
    h4 {
        color: v.$gris;
    }

    .anuncio,
    .resumen-propiedad {
        background-color: v.$grisOscuro;
        border: 1px solid v.$grisOscuro;

        .precio {
            color: v.$verde;
        }

        .icono {
            filter: invert(100%);
        }
    }


    .texto-nosotros blockquote {
        color: v.$blanco;
    }

    .formulario {

        label,
        legend,
        p {
            color: v.$gris;
        }

        input:not([type="submit"]),
        textarea,
        select {
            background-color: v.$grisOscuro;
            border: 1px solid v.$grisOscuro;
            color: v.$blanco;
        }

    }

    .propiedades {
        tbody {
            tr {
                td {
                    color: v.$blanco;
                }
            }
        }
    }

}