@use '../base/variables' as v;

.imagen-contacto {
    background-image: url('../img/encuentra.jpg');
    background-position: center center;
    background-size: cover;
    padding: v.$separacion * 2 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    html.webp & {
        background-image: url('../img/encuentra.webp');
    }

    h2 {
        font-size: 4rem;
        font-weight: v.$black;
        color: v.$blanco;
    }

    p {
        font-size: 1.8rem;
        color: v.$blanco;
    }
}